body {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

strong {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.landing h1 {
  text-align: justified;
}

html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-size: 2.0736rem;
}
h1 {
  font-size: 24.192px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(24.192px + 23.058 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 47.25px;
  }
}

h2 {
  font-size: 1.728rem;
}
h2 {
  font-size: 24.192px;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(24.192px + 23.058 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 47.25px;
  }
}

h3 {
  font-size: 1.44rem;
}
h3 {
  font-size: 20.16px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(20.16px + 11.34 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 31.5px;
  }
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding: 5% 15px;
  width: 80%;
}

.container-fluid {
  background-color: #f0f0f0;
  border: 1px solid blue;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
  grid-gap: 35px;
}

.landing {
  width: 85%;
  background-color: #b0b0b0;
  border: 1px solid blue;
}
.landing h1, .landing h2, .landing p {
  text-transform: uppercase;
  text-align: center;
}

.land-img {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 15%;
  left: 0;
  right: 0;
  width: 70%;
  height: 80vh;
  background-color: #2003fc;
  opacity: 0.5;
  border: 1px solid blue;
}
.land-img img {
  width: 100%;
  margin: 0 auto;
}

.content {
  max-height: 95vh;
  overflow: auto;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-item {
  width: auto;
  z-index: 1;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2003fc;
}
footer a {
  color: white;
}

/* GRIDDED TABS via https://kyusuf.com/post/completely-css-tabs/ */
.input {
  position: absolute;
  opacity: 0;
}

.tabs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
}

@media screen and (max-width: 320px) {
  .tabs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
  }
}
.label {
  width: auto;
  padding: 20px 30px;
  background: #f0f0f0;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
}

.label:hover {
  background: #2003fc;
  color: #fff;
}

.label:active {
  background: #ccc;
}

.input:focus + .label {
  border: 1px solid;
}

.input:checked + .label {
  background: #fff;
  color: #000;
}

.view-panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
  height: 60vh;
  overflow: auto;
  order: 99;
}

.input:checked + .label + .view-panel {
  display: block;
}

#events-list-id {
  overflow: auto;
}
#events-list-id table {
  width: 100%;
}

.event-time {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.event-sum {
  padding-bottom: 15px;
}

/* RESPONSIVE GCAL viahttps://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */
.gcal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.gcal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=starter-template2.css.map */
