/* GRIDDED TABS via https://kyusuf.com/post/completely-css-tabs/ */
// hide radio button
.input
  position: absolute
  opacity: 0

.tabs-grid
  @include auto-fit-grid(350px)

// TODO: this seems hacky
@media screen and (max-width: $min-width)
  .tabs-grid
    @include auto-fit-grid(200px)

// tab styles
.label
  width: auto
  padding: 20px 30px
  background: $temp-lite-gray
  border-bottom: 1px solid
  cursor: pointer
  transition: background 0.1s, color 0.1s

.label:hover
  background: $primary-blue
  color: #fff

.label:active
  background: #ccc

.input:focus + .label
  border: 1px solid
  
.input:checked + .label
  background: #fff
  color: #000

// view-panel styles
.view-panel
  display: none
  padding: 20px 30px 30px
  background: #fff
  height: 60vh
  overflow: auto
  order: 99

.input:checked + .label + .view-panel
  display: block

// event table styles
#events-list-id
  overflow: auto
  table
    width: 100%

.event-time
  // border-bottom: 1px solid $primary-blue
  // color: $primary-blue
  @include acumin-pro-wide-bo ()
  font-size: 0.7rem
  letter-spacing: 0.1rem


.event-sum
  padding-bottom: 15px


/* RESPONSIVE GCAL viahttps://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */
// include link out for mobile
.gcal
    position: relative
    padding-bottom: 75%
    height: 0
    overflow: hidden

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%