// GENERAL TYPOGRAPHY RULES

body
  @include acumin-pro-wide()

h1, h2, h3, h4, h5, h6
  @include tilting-gothic-bl()
  text-transform: uppercase

strong
  @include acumin-pro-wide-bl()
  letter-spacing: 0.1rem
  text-transform: uppercase
  font-size: 0.8rem

.landing
  h1
    text-align: justified

// responsive type???
// mininmum font size: 16px

// TODO: why is h2 same size as h1? maybe need to do the math

html
  @include fluid-type($min_width, $max_width, $min_font, $max_font)

$mod_1: 1.2 // mobile
$mod_2: 1.5 // desktop

h1  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font)

h2  
  font-size: $mod_1*$mod_1*$mod_1 *1rem 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font)

h3 
  font-size: $mod_1*$mod_1 *1rem
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font)
