// variables

@import "variables"

// mixins (basically functions for calculating shit!)
@import "mixins"

// fonts
@import "typography"


// STRUCTURAL STYLES

// original bootstraps
.container, .container-fluid
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

.container
  width: 80%

.container-fluid
  background-color: $temp-lite-gray
  border: 1px solid blue
  min-height: 100vh

.grid
  @include auto-fit-grid(220px)

.grid-element
  // border: 1px solid blue

.landing
  width: 85%
  background-color: $temp-mid-gray
  border: 1px solid blue
  h1, h2, p
      text-transform: uppercase
      text-align: center

.land-img
  position: absolute
  display: block

  margin: 0 auto
  top: 15%
  left: 0
  right: 0

  width: 50%
  height: 300px

  background-color: $primary-blue
  opacity: 0.5
  border: 1px solid blue
  img
      width: 100%
      margin: 0 auto

.content
  max-height: 95vh
  overflow: auto

.nav-container
  display: flex
  justify-content: space-between

.nav-item
  display: inline-block

footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: $primary-blue
  color: white

@import "event-tabs"